
{% extends 'base.html' %}

{% block content %}

<a href="{{ url_for('buildings') }}"><< Back to Building List</a>
<br>
<br>

{% for item in building %}

<h2> {{ item[0] }} </h2>

<h5> {{ item[1] }} </h5>

<h5> {{ item[2] }}, {{ item[3] }} {{ item[4] }} </h5>

{% endfor %}

<br>

<h2>Map:</h2>

{% for building in latlong %}

<div id="myDiv" style="width:400px; height:400px;"></div>
<script>
var data = [{
  type:'scattermapbox',
  lat:[{{ building[1] }}],
  lon:[{{ building[2] }}],
  mode:'markers',
  marker: {
    size:14
  },
  text:['Building Location']
}]

var layout = {
  autosize: false,
  width: 400,
  height: 400,
  margin: {
  	l: 5,
  	r: 5,
  	t: 5,
  	b: 5,
  },
  hovermode:'closest',
  mapbox: {
    bearing:0,
    center: {
      lat:42.7,
      lon:-84.48
    },
    pitch:0,
    zoom:11
  },
}

Plotly.setPlotConfig({
  mapboxAccessToken: 'pk.eyJ1Ijoia3lsZWtjaCIsImEiOiJjam80Mnk2YmkxMGNuM3FyemZkOWwyZ3Z4In0.y8WAD7tOovzNe_cpzT1f2Q'
})

Plotly.plot('myDiv', data, layout)
</script>
<br>
<br>
{% endfor %}

<h3>Staff Members in this building:</h3>

{% for member in members %}

<p><tr>
 <td><a href="{{ url_for('profile', id=member[4]) }}">{{ member[0] }} {{ member[1] }}</a></td>
 <td>|</td> 
 <td>{{ member[3] }}</td>
</tr></p>

{% endfor %}

{% endblock content %}