
{% extends 'base.html' %}

{% block content %}

<a href="{{ url_for('index') }}"><< Back to Homepage</a>
<br>
<br>

<h2>Building List</h2>

<p>Click on a building name to see a list of staff members with an office in that building. Each building entry also generates a map of the location in Plotly.</p>

<br>

<p><h3>Staff Distribution by Building</h3></p>

<div id="myDiv" style="width:800px; height:600px;"></div>

<script>


var x_list = {{ x_values | safe }}
var y_list = {{ y_values | safe }}


var data = [
  {
    x: x_list,
    y: y_list,
    type: 'bar'
  }
];

var layout = {
  autosize: false,
  width: 800,
  height: 600,
  margin: {
    l: 50,
    r: 20,
    b: 300,
    t: 50,
    pad: 4
  },
};

Plotly.newPlot('myDiv', data, layout);
</script>

<br><br>

{% for entry in bcount %}
<p><h3>Buildings:  {{ entry[0] }} </h3></p>

{% endfor %}


{% for item in buildings %}

<p><a href="{{ url_for('building_staff', id= item[3]) }}">{{ item[0] }} ({{ item[1] }})</a> | Staff Count: {{ item[2] }}</p>

{% endfor %}

{% endblock content %}