
{% extends 'base.html' %}

{% block content %}

{% for item in building %}

<h2> {{ item[0] }} </h2>

<h5> {{ item[1] }} </h5>

<h5> {{ item[2] }}, {{ item[3] }} {{ item[4] }} </h5>

{% endfor %}

<br>
<br>

<div id="tester" style="width:600px;height:250px;"></div>
<script>
	TESTER = document.getElementById('tester');
	Plotly.plot( TESTER, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );
</script>
<br>
<br>

<h3>Staff Members in this building:</h3>
<br>

{% for member in members %}

<p><tr>
 <td><a href="{{ url_for('profile', id=member[4]) }}">{{ member[0] }} {{ member[1] }}</a></td>
 <td>|</td> 
 <td>{{ member[3] }}</td>
</tr></p>

{% endfor %}

{% endblock content %}