
{% extends 'base.html' %}

{% block content %}

<a href="{{ url_for('index') }}"><< Back to Homepage</a>
<br>
<br>

<h2>Department List</h2>

<p>Click on a department name to see a list of staff members associated with that department.</p>
<br>


<p><h3>Staff Distribution by Department</h3></p>

<div id="myDiv" style="width:900px; height:600px;"></div>
<script>


var x_list = {{ x_values | safe }}
var y_list = {{ y_values | safe }}


var data = [
  {
    x: x_list,
    y: y_list,
    type: 'bar'
  }
];

var layout = {
  autosize: false,
  width: 900,
  height: 600,
  margin: {
    l: 50,
    r: 50,
    b: 170,
    t: 50,
    pad: 2
  },
};

Plotly.newPlot('myDiv', data, layout);
</script>
<br><br>

{% for item in dept_count %}

<h3>Departments: {{ item[0] }}</h3>

{% endfor %}


{% for item in depts %}

<p><tr>
<td><a href="{{ url_for('dept_staff', id=item[2]) }}">{{ item[0] }}</a> |</td>
<td> Staff Count: {{item[1]}}</td>
</tr></p>

{% endfor %}

{% endblock content %}