{% extends 'base.html' %}

{% block content %}

<h1>Welcome!</h1>

<p>This is a directory of the MSU Engineering staff.</p>

<p>Choose a list option in the navbar:</p>
<ul>
<li>	
<b>Staff List:</b> Show an exhaustive list of staff members, with their profiles accessible by clicking their name.</li>
<li>
<b>Building List:</b> Show a list of buildings that Engineering staff members use, and look at lists of staff by building.</li>
<li><b>Department List: </b>Show a list of departments that Engineering staff members work within, and look at lists of staff by department.</li>
</ul>

{% endblock content %}