
{% extends 'base.html' %}

{% block content %}

<a href="{{ url_for('index') }}"><< Back to Homepage</a>
<br>
<br>

{% for item in mcount %}

<h2>Staff List ({{ item[0] }} Members)</h2>

{% endfor %}

<p>This is an exhaustive list of all MSU EGR staff. Clicking on a staff member's name will take you to their profile.</p>
<br>

{% for member in members %}

<p><tr>
 <td><a href="{{ url_for('profile', id=member[4]) }}">{{ member[0] }} {{ member[1] }}</a></td>
 <td>|</td> 
 <td>{{ member[3] }}</td>
</tr></p>

{% endfor %}

{% endblock content %}